@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 align ="center">Adam Smith [n3276931]</h2>
    <p class="lead" align="center">ICA1 - Cloud and Web Services</p>
    <p align="center"><a href="http://localhost:26098/BusinessUnits" class="btn btn-primary btn-lg">Business Units &raquo;</a></p>
    <p align="center"><a href="http://localhost:26098/Staffs" class="btn btn-primary btn-lg">Staff &raquo;</a></p>
    <p align="center"><a href="http://localhost:26098/Master" class="btn btn-primary btn-lg">Staff by BU &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 align ="center">ICA Task 1</h2>
        <p>
            This system should be able to Create, Soft Delete, Edit both Business Units and Staff.
            It must also provide 
            <br> Master – Detail Listing of Staff by Business Units.

        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 align="center">Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 align ="center">Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>